header {
  background-color: var(--color-primary-red);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 90%;
  color: var(--color-brown400);
}
main {
  background-color: var(--color-brown400);
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.div-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 300px;
}
.div-main {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.div-main div {
  background-color: var(--color-primary-red);
  cursor: pointer;
}

.span-over {
  display: none;
  background-color: var(--color-brown100);
  padding: 6px;
  color: var(--color-brown400);
  width: max-content;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.span-over-show {
  display: flex;
}
.resume {
  border-top: 1px solid var(--color-brown300);
  height: 150px;
  margin-top: 2rem;
  color: var(--color-brown100);
  display: flex;

  align-items: flex-start;
  justify-content: space-around;
}
.resume div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
